<form action="/cart" method="post">         //We need to add this form in views everywhere, it shows add to cart button 
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product.id %>">        //Value added to request for that product which sends a post request
</form>